<mat-card>
    <h1>Check Student</h1>
    <form #AddstudentForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Grade in Math</mat-label>
              <input matInput 
                [(ngModel)] = "math"
                name = "math"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Grade in psychometric</mat-label>
              <input matInput 
                [(ngModel)] = "psych" 
                name = "psych" 
                required>
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="fill">
              <mat-label>the student paid?</mat-label>
              <mat-select place-holder = "students" [(ngModel)] = "pay" name = "pay">
                <mat-option *ngFor="let pay of paid" [value]="pay.name">
                  {{pay.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p> 
          <div>
            <button mat-raised-button color="primary" 
            (click) = "predict()"
            >
                     Predict
            </button>  
            <button mat-raised-button color="primary" 
            (click)= "updateParent()"
            >
                     Save
            </button>  
            </div>                             
      </div>
    </form>
   </mat-card>





